<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" name="viewport" content="text/html, charset=UTF-8, width=device-width, initial-scale=1.0">
        <title>Purchase & Sales</title>
        <link rel="stylesheet" type="text/css" href="./static/styles.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/slate/bootstrap.min.css" integrity="sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Peralta&display=swap" rel="stylesheet">
    </head>

    <body class="cuerpo">
        hola
    </body>
    
</html>